In [1]:
#Question 1-  Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [2]:


import pandas as pd
import re

Text  =  "Python Exercises, PHP exercises. "
output  =  re.sub(r'[ ,.]', ':', Text)
print(output)

Python:Exercises::PHP:exercises::

In [3]:
# Question 2-  Create a dataframe using the dictionary below and remove everything
#               (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [4]:


data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(data)

def clean_text(text):
    text = re.sub(r'XXXXX', '', text)  
    text = re.sub(r'[^\w\s]', '', text)  
    return text.strip()

df['SUMMARY'] = df['SUMMARY'].apply(clean_text)

print(df)

            SUMMARY
0       hello world
1              test
2  123four five six

In [5]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a string.
#            The use of the re.compile() method is mandatory.

In [6]:
text = "According to a study by Titan Travel, India is the most beautiful country in the world"
compiler = re.compile(r'\b\w{4,}\b')
find = compiler.findall(text)
print(find)

['According', 'study', 'Titan', 'Travel', 'India', 'most', 'beautiful', 'country', 'world']

In [7]:
#Question 4- Create a function in python to find all three, four, and five character words in a string. 
#             The use of the re.compile() method is mandatory.

In [8]:

text = "According to a study by Titan Travel, India is the most beautiful country in the world"
compiler = re.compile(r'\b\w{3,5}\b')
find = compiler.findall(text)
print(find)

['study', 'Titan', 'India', 'the', 'most', 'the', 'world']

In [9]:
#   Question 5- Create a function in Python to remove the parenthesis in a list of strings.
 #                 The use of the re.compile() method is mandatory.

In [10]:
Sample_Text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", 
               "Hello (Data Science World)", "Data (Scientist)"]

compiler = re.compile (r'\s*\(.*\)\s*')
cleaned = [compiler.sub('', string).strip() for string in Sample_Text]
print(cleaned)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [11]:
# Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [12]:
text = "ImportanceOfRegularExpressionsInPython"
pattern = re.compile(r'(?=[A-Z])')
result = pattern.split(text)
print(result)

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [13]:
# Question 8- Create a function in python to insert spaces between words starting with numbers.

In [14]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = re.compile(r'(\d)([A-Za-z]+)')  
result = pattern.sub(r'\1 \2', text)
print(result)

RegularExpression1 IsAn2 ImportantTopic3 InPython

In [15]:
#Question 10- Use the github link below to read the data and create a dataframe.
#After creating the dataframe extract the first 6 letters of each country and store in the dataframe 
#under a new column called first_five_letters.
#Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [16]:
url = " https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv "
df = pd.read_csv(url)

In [17]:
df.head(2)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201

In [18]:
df["six_letter_country"] = df["Country"].str.slice(0,6)
df["six_letter_country"].head(6)

0    Switze
1    Icelan
2    Denmar
3    Norway
4    Canada
5    Finlan
Name: six_letter_country, dtype: object

In [19]:
# Question 11- Write a Python program to match a string that contains only upper and
# lowercase letters, numbers, and underscores.

In [20]:
def match_string(s):
    return bool(re.match(r'^\w+$', s))
test_strings = ["Hello_World123", "hello world!", "123_ABC", "valid_string_1", "invalid-string!"]

for s in test_strings:
    if match_string(s):
        print(f"'{s}' is a valid string.")
    else:
        print(f"'{s}' is not a valid string.")

'Hello_World123' is a valid string.
'hello world!' is not a valid string.
'123_ABC' is a valid string.
'valid_string_1' is a valid string.
'invalid-string!' is not a valid string.

In [21]:
#  Question 12- Write a Python program where a string will start with a specific number.

In [22]:
test_string = "123_hello"
specific_number = "123"

if test_string[:len(specific_number)] == specific_number:
    print(f"The string '{test_string}' starts with the number {specific_number}.")
else:
    print(f"The string '{test_string}' does not start with the number {specific_number}.")

The string '123_hello' starts with the number 123.

In [23]:
#  Question 13- Write a Python program to remove leading zeros from an IP address

In [24]:
ip_address = "192.168.001.001"
cleaned_ip = ".".join(str(int(i)) for i in ip_address.split("."))
print(cleaned_ip)

192.168.1.1

In [25]:
#Question 15- Write a Python program to search some literals strings in a string. 
#            Sample text : 'The quick brown fox jumps over the lazy dog.'
#            Searched words : 'fox', 'dog', 'horse'

In [26]:

text = 'The quick brown fox jumps over the lazy dog.'
search_words = ['fox', 'dog','horse']
for word in search_words:
    found = bool(re.search(rf'\b{word}\b', text))
    print(f"'{word}' found in text: {found}")

'fox' found in text: True
'dog' found in text: True
'horse' found in text: False

In [27]:
# Question 16- Write a Python program to search a literals string in a string and also find 
#              the location within the original string where the pattern occurs
#              Sample text : 'The quick brown fox jumps over the lazy dog.'
#              Searched words : 'fox'

In [28]:
text = 'the quick brown fox jumps over the lazy dog '
search_word = "fox"
index_nu = text.find(search_word)
print(index_nu)

16

In [29]:
# Question 17- Write a Python program to find the substrings within a string.
#              Sample text : 'Python exercises, PHP exercises, C# exercises'
#              Pattern : 'exercises'.

In [30]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
matches = re.finditer(pattern, sample_text)
for match in matches:
    print(f" Found '{pattern}'")

 Found 'exercises'
 Found 'exercises'
 Found 'exercises'

In [31]:
#  Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [32]:
string = " Shri Ram is revered. Shri Ram is worshipped."
sub_string = "Shri Ram"
matches = re.finditer(re.escape(sub_string), string)
for match in matches:
    print(f"Found '{sub_string}' at position {match.start()}")

Found 'Shri Ram' at position 1
Found 'Shri Ram' at position 22

In [33]:
# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [34]:
Date = "2024-05-20"
convert = pd.to_datetime(Date).strftime('%d-%m-%Y')
print(convert)

20-05-2024

In [35]:
#  Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. 
#                 The use of the re.compile() method is mandatory.
#                  Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
#                   Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [36]:
text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

pattern = re.compile(r'\b\d+\.\d{1,2}\b')
decimal_n= pattern.findall(text)

print(decimal_n)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [37]:
# Question 21- Write a Python program to separate and print the numbers and their position of a given string

In [38]:
import re
string = "abc123gajju45is12not45number"
com = re.compile(r'\d+')
matches = com.finditer(string)
for match in matches:
    print(f"Number: {match.group()}, Position: {match.start()}")

Number: 123, Position: 3
Number: 45, Position: 11
Number: 12, Position: 15
Number: 45, Position: 20

In [39]:
#  Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
#                Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
#                 Expected Output: 950

In [40]:
sample_text = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
numbers = re.findall(r'\d+', sample_text)
max_n = pd.Series(numbers).astype(int).max()
print(max_n)

950

In [41]:
# Question 23- Create a function in python to insert spaces between words starting with capital letters.
#               Sample Text: “RegularExpressionIsAnImportantTopicInPython"
#               Expected Output: Regular Expression Is An Important Topic In Python

In [42]:
def insert_spaces(text):
    return re.sub(r'(?<=[a-z])([A-Z])', r' \1', text)
s_text = "RegularExpressionIsAnImportantTopicInPython"

output = insert_spaces(s_text)
print(output)

Regular Expression Is An Important Topic In Python

In [43]:
# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [44]:
text = "This is a Sample text Containing Several Sequences of Upper and Lower Case Letters."
foll = r'[A-Z][a-z]+'
sequence = re.findall(foll, text)
print(sequence)

['This', 'Sample', 'Containing', 'Several', 'Sequences', 'Upper', 'Lower', 'Case', 'Letters']

In [45]:
#

In [46]:
text = "Hello hello world world"
output = re.sub(r'\b(\w+)(\s+\1)+\b',r'\1',text)
print(output)

Hello hello world

In [47]:
# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [51]:
input_s = input("Enter a string  ")
pattern = r'\w$'
if re.search(pattern, input_s):
    print("String ends with an alphanumeric character.")
else:
    print("String does not end with an alphanumeric character.")

Enter a string  @gajju9569
String ends with an alphanumeric character.

In [49]:
#Question 27-Write a python program using RegEx to extract the hashtags.
#Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as 
#  the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
#  Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [52]:
text = "RT @kapil_kausik: #Doltiwal I mean #xyzabc is hurt by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> acquired funds No wo"
pattern = r'#\w+'
hashtags = re.findall(pattern, text)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [ ]:
# Question 28- Write a python program using RegEx to remove <U+..> like symbols
# Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
# Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
# Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [53]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
pattern = r'<U\+\w+>'
clean_text = re.sub(pattern, '', text)
print(clean_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [54]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.
#Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
#Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [55]:
def remove_words(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    return pattern.sub('', text)
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
output = remove_words(sample_text)
print(output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.